<center><h1><%= I18n.t("configuracoes.index.title") %></h1></center>
<p class="more-info"><%= I18n.t("general.updated_at", :date => "15/07/2013") %></p>
<p class="note" style="text-indent: 3em; text-align: justify;"><%= I18n.t("configuracoes.index.meus_dados.item_5") %></p>
<!--Indice -->
<h3><%= I18n.t("general.index") %></h3>
<div id="navegador">
 <center><ul>
	<li><a href="#meus_dados_inner"><%= I18n.t("configuracoes.index.table_of_contents.meus_dados") %></a></li>
	<li><a href="#lista_produtos_inner"><%= I18n.t("configuracoes.index.table_of_contents.lista_produtos") %></a></li>
	<li><a href="#valores_vencidos_inner"><%= I18n.t("configuracoes.index.table_of_contents.valores_vencidos") %></a></li>
	<li><a href="#relacionar_produtos_inner"><%= I18n.t("configuracoes.index.table_of_contents.relacionar_produtos") %></a></li>
	<li><a href="#valorizar_produtos_inner"><%= I18n.t("configuracoes.index.table_of_contents.valorizar_produtos") %></a></li>
	<li><a href="#convidar_comprador_inner"><%= I18n.t("configuracoes.index.table_of_contents.convidar_comprador") %></a></li>
  </ul></center>
</div>
<!-- meus_dados  -->
<div id ="meus_dados" > &nbsp </div>
<h2 id="meus_dados_inner"><%= I18n.t("configuracoes.index.table_of_contents.meus_dados") %></h2>
<div class="row-fluid">
	<center><img src="/img/configuracoes/configuracoes_meus_dados.jpg" alt="Configurações Produtos Vencidos" /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.meus_dados.item_1") %></p>
	<br/><br/>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("configuracoes.index.meus_dados.item_2") %></p>
	<center><img src="/img/configuracoes/meus_dados.jpg" alt="Produtos Vencidos" /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.meus_dados.item_3") %></p>
	<br/><br/>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("configuracoes.index.meus_dados.item_4") %></p>
</div>
<br/><br/><br/><br/>
<!-- lista_produtos -->
<div id ="lista_produtos" > &nbsp </div>
<h2 id="lista_produtos_inner"><%= I18n.t("configuracoes.index.table_of_contents.lista_produtos") %></h2>
<div class="row-fluid">
	<center><img src="/img/configuracoes/configuracoes_lista_produtos.jpg" alt="Configurações Lista Produtos" /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.lista_produtos.item_1") %></p>
	<br/><br/>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("configuracoes.index.lista_produtos.item_2") %></p>
	<center><img src="/img/configuracoes/lista_produtos.jpg" alt="Lista Produtos" /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.lista_produtos.item_3") %></p>
	<br/><br/>
	<p style="text-indent: 3em; text-align: justify;"><%= I18n.t("configuracoes.index.lista_produtos.item_4") %></p>
	<center><img src="/img/configuracoes/lista_produtos2.jpg" alt="Lista Vendidos 2" /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.lista_produtos.item_5") %></p>
</div>
<br/><br/><br/><br/>
<!-- valores_vencidos -->
<div id ="valores_vencidos" > &nbsp </div>
<h2 id="valores_vencidos_inner"><%= I18n.t("configuracoes.index.table_of_contents.valores_vencidos") %></h2>
<div class="row-fluid">
	<center><img src="/img/configuracoes/configuracoes_valores_vencidos.jpg" alt="Configurações Valores Vencidos" /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.valores_vencidos.item_1") %></p>
	<br/><br/>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("configuracoes.index.valores_vencidos.item_2") %></p>
	<center><img src="/img/configuracoes/valores_vencidos.jpg" alt="Valores Vencidos" /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.valores_vencidos.item_3") %></p>
	<br/><br/>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("configuracoes.index.valores_vencidos.item_4") %></p>
</div>
<br/><br/><br/><br/>
<!-- relacionar_produtos -->
<div id ="relacionar_produtos" > &nbsp </div>
<h2 id="relacionar_produtos_inner"><%= I18n.t("configuracoes.index.table_of_contents.relacionar_produtos") %></h2>
<div class="row-fluid">
	<center><img src="/img/configuracoes/configuracoes_relacionar_produtos.jpg" alt="Configurações Relacionar Produtos" /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.relacionar_produtos.item_1") %></p>
	<br/><br/>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("configuracoes.index.relacionar_produtos.item_2") %></p>
	<center><img src="/img/configuracoes/relacionar_produtos.jpg" alt="Relacionar Produtos" /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.relacionar_produtos.item_3") %></p>
	<br/><br/>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("configuracoes.index.relacionar_produtos.item_4") %></p>
	<center><img src="/img/configuracoes/relacionar_produtos2.jpg" alt="Relacionar Produtos 2" /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.relacionar_produtos.item_5") %></p>
</div>
<!-- valorizar_produtos -->
<div id ="valorizar_produtos" > &nbsp </div>
<h2 id="valorizar_produtos_inner"><%= I18n.t("configuracoes.index.table_of_contents.valorizar_produtos") %></h2>
<div class="row-fluid">
	<center><img src="/img/configuracoes/configuracoes_valorizar_produtos.jpg" alt="Configurações Valorizar Produtos" /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.valorizar_produtos.item_1") %></p>
	<br/><br/>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("configuracoes.index.valorizar_produtos.item_2") %></p>
	<center><img src="/img/configuracoes/valorizar_produtos.jpg" alt="Valorizar Produtos" /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.valorizar_produtos.item_3") %></p>
	<br/><br/>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("configuracoes.index.valorizar_produtos.item_4") %></p>	<center>
	<img src="/img/configuracoes/valorizar_produtos2.jpg" alt="Valorizar Produtos" /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.valorizar_produtos.item_5") %></p>
</div>
<br/><br/><br/><br/>
<!-- convidar_comprador -->
<div id ="convidar_comprador" > &nbsp </div>
<h2 id="convidar_comprador_inner"><%= I18n.t("configuracoes.index.table_of_contents.convidar_comprador") %></h2>
<div class="row-fluid">
	<center><img src="/img/configuracoes/configuracoes_convidar_comprador.jpg" alt="Configurações Convidar Comprador" /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.convidar_comprador.item_1") %></p>
	<br/><br/>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("configuracoes.index.convidar_comprador.item_2") %></p>
	<center><img src="/img/configuracoes/convidar_comprador.jpg" alt="Convidar Comprador" /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.convidar_comprador.item_3") %></p>
</div>
<br/><br/><br/><br/>
<!--Botão proximo -->
<ul class="pager">
  <li class="previous"><%= link_to("&larr; " + I18n.t("relatorios.index.title"), "relatorios") %></li>
  <li class="next"><%= link_to(I18n.t("portalopme.index.title") + " &rarr;", "portalopme") %></li>
</ul>