<center><h1><%= I18n.t("configuracoes.index.title") %></h1></center>
<p class="more-info"><%= I18n.t("general.updated_at", :date => "15/07/2013") %></p>
<p class="note" style="text-indent: 3em; text-align: justify;"><%= I18n.t("configuracoes.index.meus_dados.item_5") %></p>
<!--Indice -->
<h3><%= I18n.t("general.index") %></h3>


<!--Indice -->
<div class="metro-surface">
   <center>
      <table>
         <tr>
            <td><a href="#meus_dados_inner"><div class="metro-tile "><%= I18n.t("configuracoes.index.table_of_contents.meus_dados") %></div></a></td>
			<td><a href="#lista_produtos_inner"><div class="metro-tile "><%= I18n.t("configuracoes.index.table_of_contents.lista_produtos") %></div></a></td>
			<td><a href="#relacionar_produtos_inner"><div class="metro-tile "><%= I18n.t("configuracoes.index.table_of_contents.relacionar_produtos") %></div></a></td>
			<td><a href="#valorizar_produtos_inner"><div class="metro-tile "><%= I18n.t("configuracoes.index.table_of_contents.valorizar_produtos") %></div></a></td>
         </tr>
      </table>
      <table>
         <tr>
			<td><a href="#convidar_comprador_inner"><div class="metro-tile "><%= I18n.t("configuracoes.index.table_of_contents.convidar_comprador") %></div></a></td>
			<td><a href="#cadastro_representante_inner"><div class="metro-tile "><%= I18n.t("configuracoes.index.table_of_contents.cadastro_representante") %></div></a></td>
			<td><a href="#pesquisa_compradores_inner"><div class="metro-tile "><%= I18n.t("configuracoes.index.table_of_contents.pesquisa_compradores") %></div></a></td>
			<td><a href="#pesquisa_representante_inner"><div class="metro-tile "><%= I18n.t("configuracoes.index.table_of_contents.pesquisa_representante") %></div></a></td>
         </tr>
      </table>
   </center>
</div


<!-- meus_dados  -->
<div id ="meus_dados" > &nbsp </div>
<h2 id="meus_dados_inner"><%= I18n.t("configuracoes.index.table_of_contents.meus_dados") %></h2>
<div class="row-fluid">
	<center><img  src="/img/configuracoes/configuracoes_meus_dados.png" /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.meus_dados.item_1") %></p>
	<br/><br/>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("configuracoes.index.meus_dados.item_2") %></p>
	<center><img   src="/img/configuracoes/meus_dados.jpg"  /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.meus_dados.item_3") %></p>
	<br/><br/>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("configuracoes.index.meus_dados.item_4") %></p>
</div>


<!-- lista_produtos -->
<div id ="lista_produtos" > &nbsp </div>
<h2 id="lista_produtos_inner"><%= I18n.t("configuracoes.index.table_of_contents.lista_produtos") %></h2>
<div class="row-fluid">
	<center><img  src="/img/configuracoes/configuracoes_lista_produtos.png" " /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.lista_produtos.item_1") %></p>
	<br/><br/>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("configuracoes.index.lista_produtos.item_2") %></p>
	<center><img   src="/img/configuracoes/lista_produtos.jpg" /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.lista_produtos.item_3") %></p>
	<br/><br/>
	<p style="text-indent: 3em; text-align: justify;"><%= I18n.t("configuracoes.index.lista_produtos.item_4") %></p>
	<center><img   src="/img/configuracoes/configuracoes_lista_produtos_resultado.png"  /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.lista_produtos.item_5") %></p>
</div>



<!-- relacionar_produtos -->
<div id ="relacionar_produtos" > &nbsp </div>
<h2 id="relacionar_produtos_inner"><%= I18n.t("configuracoes.index.table_of_contents.relacionar_produtos") %></h2>
<div class="row-fluid">
	<center><img  src="/img/configuracoes/configuracoes_relacionar_produtos.png" /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.relacionar_produtos.item_1") %></p>
	<br/><br/>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("configuracoes.index.relacionar_produtos.item_2") %></p>
	<center><img   src="/img/configuracoes/relacionar_produtos.jpg"  /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.relacionar_produtos.item_3") %></p>
	<br/><br/>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("configuracoes.index.relacionar_produtos.item_4") %></p>
	<center><img   src="/img/configuracoes/configuracoes_relacionar_produtos_resultado.png" /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.relacionar_produtos.item_5") %></p>
</div>



<!-- valorizar_produtos -->
<div id ="valorizar_produtos" > &nbsp </div>
<h2 id="valorizar_produtos_inner"><%= I18n.t("configuracoes.index.table_of_contents.valorizar_produtos") %></h2>
<div class="row-fluid">
	<center><img   src="/img/configuracoes/configuracoes_valorizar_produtos.png"  /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.valorizar_produtos.item_1") %></p>
	<br/><br/>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("configuracoes.index.valorizar_produtos.item_2") %></p>
	<center><img   src="/img/configuracoes/valorizar_produtos.jpg"/></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.valorizar_produtos.item_3") %></p>
	<br/><br/>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("configuracoes.index.valorizar_produtos.item_4") %></p>	<center>
	<img   src="/img/configuracoes/configuracoes_valorizar_produtos_edicao.png"  /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.valorizar_produtos.item_5") %></p>
</div>



<!-- convidar_comprador -->
<div id ="convidar_comprador" > &nbsp </div>
<h2 id="convidar_comprador_inner"><%= I18n.t("configuracoes.index.table_of_contents.convidar_comprador") %></h2>
<div class="row-fluid">
	<center><img src="/img/configuracoes/configuracoes_convidar_comprador.png" alt="Configurações Convidar Comprador" /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.convidar_comprador.item_1") %></p>
	<br/><br/>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("configuracoes.index.convidar_comprador.item_2") %></p>
	<center><img   src="/img/configuracoes/convidar_comprador.jpg" alt="Convidar Comprador" /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.convidar_comprador.item_3") %></p>
</div>



<!-- cadastro_representante -->
<div id ="cadastro_representante" > &nbsp </div>
<h2 id="cadastro_representante_inner"><%= I18n.t("configuracoes.index.table_of_contents.cadastro_representante") %></h2>
<div class="row-fluid">
	<center><img src="/img/configuracoes/configuracoes_cadastros_representantes.png" /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.cadastro_representante.item_1") %></p>
	<br/><br/>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("configuracoes.index.cadastro_representante.item_2") %></p>
	<center><img   src="/img/configuracoes/configuracoes_cadastro_representante.png"  /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.cadastro_representante.item_3") %></p>
</div>


<!-- pesquisa_compradores -->
<div id ="pesquisa_compradores" > &nbsp </div>
<h2 id="pesquisa_compradores_inner"><%= I18n.t("configuracoes.index.table_of_contents.pesquisa_compradores") %></h2>
<div class="row-fluid">
	<center><img src="/img/configuracoes/configuracoes_pesquisas_compradores.png" /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.pesquisa_compradores.item_1") %></p>
	<br/><br/>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("configuracoes.index.pesquisa_compradores.item_2") %></p>
	<center><img   src="/img/configuracoes/configuracoes_pesquisa_compradores.png"  /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.pesquisa_compradores.item_3") %></p>
</div>


<!-- pesquisa_representante -->
<div id ="pesquisa_representante" > &nbsp </div>
<h2 id="pesquisa_representante_inner"><%= I18n.t("configuracoes.index.table_of_contents.pesquisa_representante") %></h2>
<div class="row-fluid">
	<center><img src="/img/configuracoes/configuracoes_pesquisas_representantes.png" /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.pesquisa_representante.item_1") %></p>
	<br/><br/>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("configuracoes.index.pesquisa_representante.item_2") %></p>
	<center><img   src="/img/configuracoes/configuracoes_pesquisa_representantes.png"  /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("configuracoes.index.pesquisa_representante.item_3") %></p>
</div>



<!--Botão proximo -->
<ul class="pager">
  <li class="previous"><%= link_to("&larr; " + I18n.t("relatorios.index.title"), "relatorios") %></li>
  <li class="next"><%= link_to(I18n.t("portalopme.index.title") + " &rarr;", "portalopme") %></li>
</ul>