<h1><%= I18n.t("menu_principal.index.title") %></h1>
<p class="more-info"><%= I18n.t("general.updated_at", :date => "06/03/2013") %></p>
<h3><%= I18n.t("general.index") %></h3>

<!--Indice -->
<ol class="table-of-contents">
	<li><a href="#menu_principal_inner"><%= I18n.t("menu_principal.index.table_of_contents.menu_principal") %></a></li>
	<li><a href="#menu_principal_orcamentos_inner"><%= I18n.t("menu_principal.index.table_of_contents.menu_principal_orcamentos") %></a></li>
	<li><a href="#menu_principal_relatorios_inner"><%= I18n.t("menu_principal.index.table_of_contents.menu_principal_relatorios") %></a></li>
	<li><a href="#menu_principal_configuracoes_inner"><%= I18n.t("menu_principal.index.table_of_contents.menu_principal_configuracoes") %></a></li>
</ol>

<!--Menu Principal -->
<div id ="menu_principal" > &nbsp </div>
<h2 id="menu_principal_inner"><%= I18n.t("menu_principal.index.table_of_contents.menu_principal") %></h2>
<div class="row-fluid">
	<p> <%= I18n.t("menu_principal.index.menu_principal.item_1") %></p>
	<img src="/img/menu_principal/Menu Principal.jpg" alt="Menu Principal" />
	<p align="right"><%= I18n.t("menu_principal.index.menu_principal.item_2") %></p>
</div>

<!--Menu Principal > Orcamentos -->
<div id ="menu_principal_orcamentos" > &nbsp </div>
<h2 id="menu_principal_orcamentos_inner"><%= I18n.t("menu_principal.index.table_of_contents.menu_principal_orcamentos") %></h2>
<div class="row-fluid">
	<img src="/img/menu_principal/menu_principal_orcamentos.jpg" alt="Menu Principal Orcamentos" />
	<p align="right"><%= I18n.t("menu_principal.index.menu_principal_orcamentos.item_5") %></p>
	<p> <%= I18n.t("menu_principal.index.menu_principal_orcamentos.item_1") %></p>
	<ul>
	    <li><a href="#faturados"><%= link_to(I18n.t("menu_principal.index.menu_principal_orcamentos.item_2"), "orcamentos#faturados") %></a></li>
		<li><a href="#notasfiscais"><%= link_to(I18n.t("menu_principal.index.menu_principal_orcamentos.item_3"), "orcamentos#notas_fiscais") %></a></li>
		<li><a href="#pendentes"><%= link_to(I18n.t("menu_principal.index.menu_principal_orcamentos.item_4"), "orcamentos#pendentes") %></a></li>    
    </ul>
</div>

<!--Menu Principal > Relatórios -->
<div id ="menu_principal_relatorios" > &nbsp </div>
<h2 id="menu_principal_relatorios_inner"><%= I18n.t("menu_principal.index.table_of_contents.menu_principal_relatorios") %></h2>
<div class="row-fluid">
	<img src="/img/menu_principal/menu_principal_relatorios.jpg" alt="Menu Principal" />
	<p align="right"><%= I18n.t("menu_principal.index.menu_principal_relatorios.item_6") %></p>
	<p> <%= I18n.t("menu_principal.index.menu_principal_relatorios.item_1") %></p>
	<ul>
		<li><a href="#produtos_vencidos"><%= link_to(I18n.t("menu_principal.index.menu_principal_relatorios.item_2"), "relatorios#produtos_vencidos") %></a></li>
		<li><a href="#produtos_vendidos"><%= link_to(I18n.t("menu_principal.index.menu_principal_relatorios.item_3"), "relatorios#produtos_vendidos") %></a></li>
		<li><a href="#top_compradores"><%= link_to(I18n.t("menu_principal.index.menu_principal_relatorios.item_4"), "relatorios#top_compradores") %></a></li>    
		<li><a href="#top_produtos"><%= link_to(I18n.t("menu_principal.index.menu_principal_relatorios.item_5"), "relatorios#top_produtos") %></a></li>       
   </ul>
</div>

<!--Menu Principal > Configurações -->
<div id ="menu_principal_configuracoes" > &nbsp </div>
<h2 id="menu_principal_configuracoes_inner"><%= I18n.t("menu_principal.index.table_of_contents.menu_principal_configuracoes") %></h2>
<div class="row-fluid">
	<img src="/img/menu_principal/menu_principal_configuracoes.jpg" alt="Menu Principal" />
	<p align="right"><%= I18n.t("menu_principal.index.menu_principal_configuracoes.item_8") %></p>
	<p> <%= I18n.t("menu_principal.index.menu_principal_configuracoes.item_1") %></p>
	<ul>
	    <li><a href="#meus_dados"><%= link_to(I18n.t("menu_principal.index.menu_principal_configuracoes.item_2"), "configuracoes#meus_dados") %></a></li>
		<li><a href="#lista_produtos"><%= link_to(I18n.t("menu_principal.index.menu_principal_configuracoes.item_3"), "configuracoes#lista_produtos") %></a></li>
		<li><a href="#valores_vencidos"><%= link_to(I18n.t("menu_principal.index.menu_principal_configuracoes.item_4"), "configuracoes#valores_vencidos") %></a></li>    
		<li><a href="#relacionar_produtos"><%= link_to(I18n.t("menu_principal.index.menu_principal_configuracoes.item_5"), "configuracoes#relacionar_produtos") %></a></li>    
		<li><a href="#valorizar_produtos"><%= link_to(I18n.t("menu_principal.index.menu_principal_configuracoes.item_6"), "configuracoes#valorizar_produtos") %></a></li>    
		<li><a href="#convidar_comprador"><%= link_to(I18n.t("menu_principal.index.menu_principal_configuracoes.item_7"), "configuracoes#convidar_comprador") %></a></li>       
   </ul>
</div>

<!--Botão proximo -->
<ul class="pager">
  <li class="next">
    <%= link_to(I18n.t("orcamentos.index.title") + " &rarr;", "orcamentos") %>
  </li>
</ul>