<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>CloudMed</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Detalhada documentação do serviço de desenvolvimento de aplicações para Soluções em Saúde">
		<meta name="author" content="CloudMed">
		<!-- Le styles -->
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="/css/shCore.css" rel="stylesheet">
		<link href="/css/shCoreDefault.css" rel="stylesheet">
		<link href="/css/app.css" rel="stylesheet">
	</head>

	<!-- Top Menu -->
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="nav-collapse collapse">
						<ul class="nav">
						<li><a href="http://cloudmed.io"><%= I18n.t("main_menu.home") %></a></li>
						<li class="active"><a href="http://localhost:4567"><%= I18n.t("main_menu.docs") %></a></li>
						<li><a href="mailto:contato@cloudmed.io"><%= I18n.t("main_menu.get_in_touch") %></a></li>
					</ul>
					</div>
				</div>
			</div>
	  </div>
	  
	  <!--Container -->
	  <div class="container" id="top">
		<br/><br/><br/>
			<div class="row-fluid">
				<div class="span3">        
					<%= erb :_menu %>
				</div>
				<div class="span9">
					<div id="banner">
						<center><img src="/img/cloudmed100.png" alt="CloudMed" /></center>
					</div>
					<%= yield %>
				</div>
			</div>
	  </div>

	  <!--Footer -->
	  <footer class="footer">
		<div class="container">
		  <p class="pull-right"><a href="http://www.cloudmed.io"><img src="/img/cloudmed100.png" alt="CloudMed"  width="100" height="100" /></a></p>
		  <p><%= I18n.t("footer.paragraph_1") %></p>
		  <br/>
		  <p><a href="mailto:contato@cloudmed.io"><%= I18n.t("footer.get_in_touch") %></a></p>
		</div>
	  </footer>

	  <!-- begin olark code -->
	  <script data-cfasync="false" type='text/javascript'>/*{literal}<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
	  f[z]=function(){
	  (a.s=a.s||[]).push(arguments)};var a=f[z]._={
	  },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
	  f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
	  0:+new Date};a.P=function(u){
	  a.p[u]=new Date-a.p[0]};function s(){
	  a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
	  hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
	  return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
	  b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
	  b.contentWindow[g].open()}catch(w){
	  c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
	  var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
	  b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
	  loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
	  /* custom configuration goes here (www.olark.com/documentation) */
	  olark.identify('8394-954-10-9343');/*]]>{/literal}*/</script><noscript><a href="https://www.olark.com/site/8394-954-10-9343/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
	  </script>
	  <!-- end olark code -->

	  <script src="/js/olark-<%= I18n.locale %>.js"></script>
	  <script src="/js/jquery.min.js"></script>
	  <script src="/js/bootstrap.min.js"></script>
	  <script src="/js/shCore.js"></script>
	  <script src="/js/shBrushXml.js"></script>
	  <script src="/js/shBrushJScript.js"></script>
	  <script type="text/javascript">
		jQuery(document).ready(function(){
		  SyntaxHighlighter.defaults.toolbar = false;SyntaxHighlighter.defaults['gutter'] = false;SyntaxHighlighter.all();
		  $('a[href*=#]').not('.accordion a').click(function() {if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {var $target = $(this.hash);$target = $target.length && $target || $('[name=' + this.hash.slice(1) +']');if ($target.length) {var targetOffset = $target.offset().top - 50;$('html,body').animate({scrollTop: targetOffset}, 500);return false;}}});
		})
	  </script>
	</body>
</html>