<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Portal OPME</a>
    </div>
    <div id="collapseOne" class="accordion-body collapse <%=is_group_active?("portalopme") %>">
      <div class="accordion-inner">
        <ul>
          <li><a href="#how_it_works"><%= link_to(I18n.t("portalopme.index.table_of_contents.how_it_works"), "portalopme") %></a></li>
          <li><a href="#features_yield"><%= link_to(I18n.t("portalopme.index.table_of_contents.features_yield"), "portalopme#features_yield") %></a></li>
          <li><a href="#who_uses"><%= link_to(I18n.t("portalopme.index.table_of_contents.who_uses"), "portalopme#who_uses") %></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Entendendo o Sistema</a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse <%=is_group_active?("understanding_the_system") %>">
      <div class="accordion-inner">
        <ul>
            <li><a href="#mural"><%= link_to(I18n.t("understanding_the_system.index.table_of_contents.mural"), "understanding_the_system") %></a></li>
            <li><a href="#dashboard"><%= link_to(I18n.t("understanding_the_system.index.table_of_contents.dashboard"), "understanding_the_system#dashboard") %></a></li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">Menu Principal</a>
    </div>
    <div id="collapseThree" class="accordion-body collapse <%=is_group_active?("menu_principal") %>">
      <div class="accordion-inner">
        <ul>
            <li><a href="#menu_principal"><%= link_to(I18n.t("menu_principal.index.table_of_contents.menu_principal"), "menu_principal") %></a></li>
            <li><a href="#request_opme"><%= link_to(I18n.t("menu_principal.index.table_of_contents.request_opme"), "menu_principal#request_opme") %></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">Orçamentos</a>
    </div>
    <div id="collapseFour" class="accordion-body collapse <%=is_group_active?("walk-manager") %>">
      <div class="accordion-inner">
        <ul>
		  <li class="<%=is_group_item_active?("walk-manager", "apps") %>">•	Orçamentos</li>	
          <li class="<%=is_group_item_active?("walk-manager", "apps") %>">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp	Localizar Orçamentos</li>		  
          <li class="<%=is_group_item_active?("walk-manager", "apps") %>">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp	Faturados</li>
          <li class="<%=is_group_item_active?("walk-manager", "apps") %>">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp	Aguardando Notas Fiscais</li>
          <li class="<%=is_group_item_active?("walk-manager", "apps") %>">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp	Não Aprovados</li>
          <li class="<%=is_group_item_active?("walk-manager", "apps") %>">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp	Concluídos</li>
          <li class="<%=is_group_item_active?("walk-manager", "apps") %>">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp	Divergências</li>
          <li class="<%=is_group_item_active?("walk-manager", "apps") %>">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp	Abertos</li>
          <li class="<%=is_group_item_active?("walk-manager", "apps") %>">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp	Pendente com Auditor</li>
          <li class="<%=is_group_item_active?("walk-manager", "apps") %>">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp	Pendente Local Atendimento</li>
          <li class="<%=is_group_item_active?("walk-manager", "apps") %>">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp	Pendente Compras</li>
          <li class="<%=is_group_item_active?("walk-manager", "apps") %>">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp	Pendente Analista</li>
          <li class="<%=is_group_item_active?("walk-manager", "apps") %>">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp	Aguardando Fornecedores</li>
          <li class="<%=is_group_item_active?("walk-manager", "apps") %>">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp	Retorno Fornecedores</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">Relatórios</a>
    </div>
    <div id="collapseFive" class="accordion-body collapse <%=is_group_active?("walk-compiler") %>">
      <div class="accordion-inner">
        <ul>
		  <li class="<%=is_group_item_active?("walk-compiler", "setup") %>">•	Economia</li>
		  <li class="<%=is_group_item_active?("walk-compiler", "setup") %>">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp	Sintético</li>
		  <li class="<%=is_group_item_active?("walk-compiler", "setup") %>">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp	Analitico</li>
		  <li class="<%=is_group_item_active?("walk-compiler", "setup") %>">•	Produtos Vencidos</li>
		  <li class="<%=is_group_item_active?("walk-compiler", "setup") %>">•	Envio aos Fornecedores</li>
		  <li class="<%=is_group_item_active?("walk-compiler", "setup") %>">•	Cotações</li>
		  <li class="<%=is_group_item_active?("walk-compiler", "setup") %>">•	Faturamento</li>
		  <li class="<%=is_group_item_active?("walk-compiler", "setup") %>">•	Dados de Notas Fiscais</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">Configurações</a>
    </div>
    <div id="collapseSix" class="accordion-body collapse <%=is_group_active?("posxml") %>">
      <div class="accordion-inner">
        <ul>
          <li class="<%=is_group_item_active?("posxml", "structure") %>">•	Meus Dados</li>
          <li class="<%=is_group_item_active?("posxml", "structure") %>">•	Lista de Produtos</li>
          <li class="<%=is_group_item_active?("posxml", "structure") %>">•	Valores Vencidos</li>
          <li class="<%=is_group_item_active?("posxml", "structure") %>">•	Produtos Tabela CTNPM</li>
          <li class="<%=is_group_item_active?("posxml", "structure") %>">•	Grupos</li>
          <li class="<%=is_group_item_active?("posxml", "structure") %>">•	Cadastros</li>
          <li class="<%=is_group_item_active?("posxml", "structure") %>">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp	Compradores</li>
          <li class="<%=is_group_item_active?("posxml", "structure") %>">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp	Fornecedores</li>
          <li class="<%=is_group_item_active?("posxml", "structure") %>">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp	Especialidades</li>
          <li class="<%=is_group_item_active?("posxml", "structure") %>">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp	Locais de Atendimento</li>
          <li class="<%=is_group_item_active?("posxml", "structure") %>">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp	Prestadores</li>
          <li class="<%=is_group_item_active?("posxml", "structure") %>">•	Pesquisas</li>
          <li class="<%=is_group_item_active?("posxml", "structure") %>">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp	Compradores</li>
          <li class="<%=is_group_item_active?("posxml", "structure") %>">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp	Fornecedores</li>
          <li class="<%=is_group_item_active?("posxml", "structure") %>">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp	Especialidades</li>
          <li class="<%=is_group_item_active?("posxml", "structure") %>">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp	Locais de Atendimento</li>
          <li class="<%=is_group_item_active?("posxml", "structure") %>">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp	Prestadores</li>
          <li class="<%=is_group_item_active?("posxml", "structure") %>">•	Tabelas TNUMM</li>
          <li class="<%=is_group_item_active?("posxml", "structure") %>">•	Log de Movimentação</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">Perfil</a>
    </div>
    <div id="collapseFour" class="accordion-body collapse <%=is_group_active?("api") %>">
      <div class="accordion-inner">
        <ul>
          <li class="<%=is_group_item_active?("api", "portalopme") %>">Permissoes</li>
        </ul>
      </div>
    </div>
  </div>
  
  
<!--
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven"><%= I18n.t("menu.sample_apps.group_name") %></a>
    </div>
    <div id="collapseSeven" class="accordion-body collapse <%=is_group_active?("sample-apps") %>">
      <div class="accordion-inner">
        <ul>
          <li class="<%=is_group_item_active?("sample-apps", "sales") %>"><%= link_to(I18n.t("menu.sample_apps.sales"), "sample-apps/sales") %></li>
        </ul>
      </div>
    </div>
  </div>
  -->
</div> 