<center><h1><%= I18n.t("understanding_the_system.index.title") %></h1></center>
<p class="more-info"><%= I18n.t("general.updated_at", :date => "15/07/2013") %></p>
<h3><%= I18n.t("general.index") %></h3>
<!--Indice -->
<div id="navegador">
 <center><ul>
	<li><a href="#welcome"><%= I18n.t("understanding_the_system.index.table_of_contents.welcome") %></a></li>
	<li><a href="#dashboard_inner"><%= I18n.t("understanding_the_system.index.table_of_contents.dashboard") %></a></li>
	<li><a href="#mural_inner"><%= I18n.t("understanding_the_system.index.table_of_contents.mural") %></a></li>
  </ul></center>
</div>
<!--Bem Vindo -->
<div id ="welcome" > &nbsp </div>
<center><h2 id="welcome"><%= I18n.t("understanding_the_system.index.table_of_contents.welcome") %></h2></center>
<div class="row-fluid">
	<p style="text-indent: 3em; text-align: justify;"><%= I18n.t("understanding_the_system.index.welcome.item_1") %></p>
</div>
<!--Dashboard -->
<div id ="dashboard" > &nbsp </div>
<h2 id="dashboard_inner"><%= I18n.t("understanding_the_system.index.table_of_contents.dashboard") %></h2>
<div class="row-fluid">
	<p style="text-indent: 3em; text-align: justify;"><%= I18n.t("understanding_the_system.index.dashboard.item_1") %></p>
	<img src="/img/understanding_the_system/Dashboard.png" alt="Dashboard" />
	<p align="right" style="font-weight:bold;"><%= I18n.t("understanding_the_system.index.dashboard.item_2") %></p>
	<p style="text-indent: 3em; text-align: justify;"><%= I18n.t("understanding_the_system.index.dashboard.item_7") %></p>
	<div id="navegador">
	 <center><ul>
		<li><%= I18n.t("understanding_the_system.index.dashboard.item_3") %></a></li>
		<li><%= I18n.t("understanding_the_system.index.dashboard.item_4") %></a></li>
		<li><%= I18n.t("understanding_the_system.index.dashboard.item_5") %></a></li>
		<li><%= I18n.t("understanding_the_system.index.dashboard.item_6") %></a></li>
	  </ul></center>
	</div>
</div>
<!--Mural -->
<div id ="mural" > &nbsp </div>
<h2 id="mural_inner"><%= I18n.t("understanding_the_system.index.table_of_contents.mural") %></h2>
<div class="row-fluid">
	<p style="text-indent: 3em; text-align: justify;"><%= I18n.t("understanding_the_system.index.mural.item_1") %></p>
	<img src="/img/understanding_the_system/Mural.jpg" alt="Mural" />
	<p align="right" style="font-weight:bold;"><%= I18n.t("understanding_the_system.index.mural.item_2") %></p>
</div>
<!--Botões -->
<ul class="pager">
  <li class="previous"><%= link_to("&larr; " + I18n.t("portalopme.index.title"), "portalopme") %></li>
  <li class="next"><%= link_to(I18n.t("menu_principal.index.title")+ " &rarr;", "menu_principal") %></li>
</ul>
