<center><h1><%= I18n.t("orcamentos.index.title") %></h1></center>
<p class="more-info"><%= I18n.t("general.updated_at", :date => "15/07/2013") %></p>
<h3><%= I18n.t("general.index") %></h3>
<!--Indice -->
<div id="navegador">
 	<center><ul>
	<li><a href="#faturados_inner"><%= I18n.t("orcamentos.index.table_of_contents.faturados") %></a></li>
	<li><a href="#notas_fiscais_inner"><%= I18n.t("orcamentos.index.table_of_contents.notas_fiscais") %></a></li>
	<li><a href="#pendentes_inner"><%= I18n.t("orcamentos.index.table_of_contents.pendentes") %></a></li>
	</ul></center>
</div>
<!-- Faturados/10 dias -->
<div id ="faturados" > &nbsp </div>
<h2 id="faturados_inner"><%= I18n.t("orcamentos.index.table_of_contents.faturados") %></h2>
<div class="row-fluid">
	<center><img  src="/img/orcamentos/orcamentos_faturados.jpg" alt="Orçamentos Faturados" /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.faturados.item_1") %></p>
	<br/><br/>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.faturados.item_2") %></p>
	<center><img  class="zoomh"class="zoomh" src="/img/orcamentos/faturados.jpg" alt="Orçamentos Faturados"  class="zoomh"/></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.faturados.item_3") %></p>
	<br/><br/>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.faturados.item_4") %></p>
	<center><img  class="zoomh"class="zoomh" src="/img/orcamentos/faturados2.jpg" alt="Orçamentos Faturados" /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.faturados.item_5") %></p>
</div>
<br/><br/><br/><br/>
<!-- Aguardando Notas Fiscais -->
<div id ="notas_fiscais" > &nbsp </div>
<h2 id="notas_fiscais_inner"><%= I18n.t("orcamentos.index.table_of_contents.notas_fiscais") %></h2>
<div class="row-fluid">
	<center><img src="/img/orcamentos/orcamentos_notas_fiscais.jpg" alt="Aguardando Notas Fiscais" /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.notas_fiscais.item_1") %></p>
	<br/><br/>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.notas_fiscais.item_2") %></p>
	<center><img  class="zoomh"class="zoomh" src="/img/orcamentos/notas_fiscais.jpg" alt="Aguardando Notas Fiscais" /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.notas_fiscais.item_3") %></p>
	<br/><br/>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.notas_fiscais.item_4") %></p>
	<center><img  class="zoomh"class="zoomh" src="/img/orcamentos/notas_fiscais2.jpg" alt="Aguardando Notas Fiscais" /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.notas_fiscais.item_5") %></p>
	<br/><br/>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.notas_fiscais.item_6") %></p>
	<center><img  class="zoomh"class="zoomh" src="/img/orcamentos/notas_fiscais3.jpg" alt="Aguardando Notas Fiscais" /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.notas_fiscais.item_7") %></p>
</div>
<br/><br/><br/><br/>
<!-- Pendente Fornecedor -->
<div id ="pendentes" > &nbsp </div>
<h2 id="pendentes_inner"><%= I18n.t("orcamentos.index.table_of_contents.pendentes") %></h2>
<div class="row-fluid">
	<center><img src="/img/orcamentos/orcamentos_pendentes.jpg" alt="Pendente Fornecedor" /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.pendentes.item_1") %></p>
	<br/><br/>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.pendentes.item_2") %></p>
	<center><img  class="zoomh"class="zoomh" src="/img/orcamentos/pendentes.jpg" alt="Pendente Fornecedor" /></center>
	<p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.pendentes.item_3") %></p>
	<br/><br/>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.pendentes.item_4") %></p>
</div>
<!--Botão proximo -->
<ul class="pager">
  <li class="previous"><%= link_to("&larr; " + I18n.t("menu_principal.index.title"), "menu_principal") %></li>
  <li class="next"><%= link_to(I18n.t("relatorios.index.title") + " &rarr;", "relatorios") %></li>
</ul>