<center>
   <h1><%= I18n.t("orcamentos.index.title") %></h1>
</center>
<p class="more-info"><%= I18n.t("general.updated_at", :date => "27/07/2015") %></p>
<h3><%= I18n.t("general.index") %></h3>


<!--Indice -->
<div class="metro-surface">
   <center>
      <table>
         <tr>
            <td><a href="#divergencia_fornecedor_inner"><div class="metro-tile "><%= I18n.t("orcamentos.index.table_of_contents.divergencia_fornecedor") %></div></a></td>
			<td><a href="#faturados_inner"><div class="metro-tile "><%= I18n.t("orcamentos.index.table_of_contents.faturados") %></div></a></td>
			<td><a href="#pendentes_inner"><div class="metro-tile metro-tile-small"></div></a></td>
         </tr>
      </table>
      <table>
         <tr>
			<td><a href="#notas_fiscais_inner"><div class="metro-tile "><%= I18n.t("orcamentos.index.table_of_contents.notas_fiscais") %></div></a></td>
			<td><a href="#pendentes_inner"><div class="metro-tile metro-tile-small"><%= I18n.t("orcamentos.index.table_of_contents.pendentes") %></div></a></td>
			<td><a href="#nfrecebida_inner"><div class="metro-tile "><%= I18n.t("orcamentos.index.table_of_contents.nfrecebida") %></div></a></td>
         </tr>
      </table>
   </center>
</div


<!-- Divergencia Pendente com Fornecedor -->
<div id ="divergencia_fornecedor" > &nbsp </div>
<h2 id="divergencia_fornecedor_inner"><%= I18n.t("orcamentos.index.table_of_contents.divergencia_fornecedor") %></h2>
<div class="row-fluid">
   <center><img  src="/img/orcamentos/orcamentos_divergencias_pendentes_fornecedor.png" /></center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.divergencia_fornecedor.item_1") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.divergencia_fornecedor.item_2") %></p>
   <center><img     src="/img/orcamentos/orcamento_divergencias_pendentes_fornecedor.png" /></center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.divergencia_fornecedor.item_3") %></p>
</div>



<!-- Faturados/10 dias -->
<div id ="faturados" > &nbsp </div>
<h2 id="faturados_inner"><%= I18n.t("orcamentos.index.table_of_contents.faturados") %></h2>
<div class="row-fluid">
   <center><img  src="/img/orcamentos/orcamentos_faturados.png"  /></center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.faturados.item_1") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.faturados.item_2") %></p>
   <center><img     src="/img/orcamentos/faturados.jpg"    /></center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.faturados.item_3") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.faturados.item_4") %></p>
   <center><img     src="/img/orcamentos/faturados2.jpg"  /></center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.faturados.item_5") %></p>
</div>


<!-- Aguardando Notas Fiscais -->
<div id ="notas_fiscais" > &nbsp </div>
<h2 id="notas_fiscais_inner"><%= I18n.t("orcamentos.index.table_of_contents.notas_fiscais") %></h2>
<div class="row-fluid">
   <center><img src="/img/orcamentos/orcamentos_aguardando_notas.png"  /></center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.notas_fiscais.item_1") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.notas_fiscais.item_2") %></p>
   <center><img     src="/img/orcamentos/notas_fiscais.jpg" alt="Aguardando Notas Fiscais" /></center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.notas_fiscais.item_3") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.notas_fiscais.item_4") %></p>
   <center><img     src="/img/orcamentos/notas_fiscais2.jpg" alt="Aguardando Notas Fiscais" /></center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.notas_fiscais.item_5") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.notas_fiscais.item_6") %></p>
   <center><img     src="/img/orcamentos/notas_fiscais3.jpg" alt="Aguardando Notas Fiscais" /></center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.notas_fiscais.item_7") %></p>
</div>



<!-- Pendente Fornecedor -->
<div id ="pendentes" > &nbsp </div>
<h2 id="pendentes_inner"><%= I18n.t("orcamentos.index.table_of_contents.pendentes") %></h2>
<div class="row-fluid">
   <center><img src="/img/orcamentos/orcamentos_pendente_fornecedor.png"/></center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.pendentes.item_1") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.pendentes.item_2") %></p>
   <center><img     src="/img/orcamentos/pendentes.jpg" /></center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.pendentes.item_3") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.pendentes.item_4") %></p>
</div>



<!-- Notas Fiscais Recebidas -->
<div id ="nfrecebida" > &nbsp </div>
<h2 id="nfrecebida_inner"><%= I18n.t("orcamentos.index.table_of_contents.nfrecebida") %></h2>
<div class="row-fluid">
   <center><img src="/img/orcamentos/orcamentos_notas_fiscais_recebidas.png" /></center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.nfrecebida.item_1") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("orcamentos.index.nfrecebida.item_2") %></p>
   <center><img     src="/img/orcamentos/orcamento_notas_fiscais_recebidas.png" /></center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("orcamentos.index.nfrecebida.item_3") %></p>
</div>


<!--Botão proximo -->
<ul class="pager">
   <li class="previous"><%= link_to("&larr; " + I18n.t("menu_principal.index.title"), "menu_principal") %></li>
   <li class="next"><%= link_to(I18n.t("relatorios.index.title") + " &rarr;", "relatorios") %></li>
</ul>