<h1><%= I18n.t("menu_principal.index.title") %></h1>
<p class="more-info"><%= I18n.t("general.updated_at", :date => "06/03/2013") %></p>
<h3><%= I18n.t("general.index") %></h3>

<!--Indice -->
<ol class="table-of-contents">
	<li><a href="#menu_principal_inner"><%= I18n.t("menu_principal.index.table_of_contents.menu_principal") %></a></li>
	<li><a href="#request_opme_inner"><%= I18n.t("menu_principal.index.table_of_contents.request_opme") %></a></li>
</ol>

<!--Menu Principal -->
<div id ="menu_principal" > &nbsp </div>
<h2 id="menu_principal_inner"><%= I18n.t("menu_principal.index.table_of_contents.menu_principal") %></h2>
<div class="row-fluid">
	<img src="/img/menu_principal/Menu Principal.jpg" alt="Menu Principal" />
	<p align="right"><%= I18n.t("menu_principal.index.menu_principal.item_1") %></p>
	<p> <%= I18n.t("menu_principal.index.menu_principal.item_2") %></p>
	<p><i><b><%= I18n.t("menu_principal.index.menu_principal.item_3") %></b></i></p>
</div>

<!--Solicitar OPME -->
<div id ="request_opme" > &nbsp </div>
<h2 id="request_opme_inner"><%= I18n.t("menu_principal.index.table_of_contents.request_opme") %></h2>
<div class="row-fluid">
	<img src="/img/menu_principal/Solicitar OPME.jpg" alt="Solicitar OPME" />
	<p align="right"><%= I18n.t("menu_principal.index.request_opme.item_1") %></p>
	<br>
	<p><%= I18n.t("menu_principal.index.request_opme.item_2") %></p>
	<br>
	<img src="/img/menu_principal/Solicitar OPME TELA.jpg" alt="Solicitar OPME" />
	<p align="right"><%= I18n.t("menu_principal.index.request_opme.item_3") %></p>
</div>

<!--Botão proximo -->
<ul class="pager">
  <li class="next">
    <%= link_to(I18n.t("menu.menu_principal.walk_framework") + " &rarr;", "portalopme/walk-framework") %>
  </li>
</ul>