<center><h1><%= I18n.t("portalopme.index.title") %></h1></center>
<p class="more-info"><%= I18n.t("general.updated_at", :date => "06/03/2013") %> </p>
<h3><%= I18n.t("general.index") %></h3>

<!--Indice -->
<div id="navegador">
 <center><ul>
  <li><a href="#how_it_works_inner"><%= I18n.t("portalopme.index.table_of_contents.how_it_works") %></a></li>
  <li><a href="#features_yield_inner"><%= I18n.t("portalopme.index.table_of_contents.features_yield") %></a></li>
  <li><a href="#who_uses_inner"><%= I18n.t("portalopme.index.table_of_contents.who_uses") %></a></li>
  </ul></center>
</div>

<!--O que é? -->
<div id ="how_it_works" > &nbsp </div>
<h2 id="how_it_works_inner"><%= I18n.t("portalopme.index.table_of_contents.how_it_works") %></h2>
<p style="text-indent: 3em; text-align: justify;"><%= I18n.t("portalopme.index.how_it_works.paragraph_1") %></p>


<!--Funcionalidades e Rendimentos -->
<div id ="features_yield" > &nbsp </div>
<h2 id="features_yield_inner"><%= I18n.t("portalopme.index.table_of_contents.features_yield") %></h2>
<p style="text-indent: 3em; text-align: justify;"><%= I18n.t("portalopme.index.features_yield.paragraph_1") %></p>
<div class="row-fluid">
	 <br>
			<p><strong><%= I18n.t("portalopme.index.features_yield.feature_1") %></strong></p>
				<p><li><%= I18n.t("portalopme.index.features_yield.feature_2") %></li></p>
				<p><li><%= I18n.t("portalopme.index.features_yield.feature_3") %></li></p>
				<p><li><%= I18n.t("portalopme.index.features_yield.feature_4") %></li></p>
				<p><li><%= I18n.t("portalopme.index.features_yield.feature_5") %></li></p>
				<p><li><%= I18n.t("portalopme.index.features_yield.feature_6") %></li></p>
				<p><li><%= I18n.t("portalopme.index.features_yield.feature_7") %></li></p>
				<p><li><%= I18n.t("portalopme.index.features_yield.feature_8") %></li></p>
     <br/>
			<p><strong><%= I18n.t("portalopme.index.features_yield.feature_9") %></strong></p>
				<p><li><%= I18n.t("portalopme.index.features_yield.feature_10") %></li></p>
				<p><li><%= I18n.t("portalopme.index.features_yield.feature_11") %></li></p>
				<p><li><%= I18n.t("portalopme.index.features_yield.feature_12") %></li></p>
				<p><li><%= I18n.t("portalopme.index.features_yield.feature_13") %></li></p>
				<p><li><%= I18n.t("portalopme.index.features_yield.feature_14") %></li></p>
				<p><li><%= I18n.t("portalopme.index.features_yield.feature_15") %></li></p>
				<p><li><%= I18n.t("portalopme.index.features_yield.feature_16") %></li></p>
</div>


<!-- Quem usa -->
<div id ="who_uses" > &nbsp </div>
<h2 id="who_uses_inner"><%= I18n.t("portalopme.index.table_of_contents.who_uses") %></h2>
<p style="text-indent: 3em; text-align: justify;"><%= I18n.t("portalopme.index.who_uses.paragraph_1") %></p>
<div class="row-fluid">
  <div class="span6">
  <br><br>
	<ul class="lista">
		<li> <strong><%= I18n.t("portalopme.index.who_uses.item_1") %></strong></li>
		<li> <strong><%= I18n.t("portalopme.index.who_uses.item_2") %></strong></li>
		<li> <strong><%= I18n.t("portalopme.index.who_uses.item_3") %></strong></li>
		<li> <strong><%= I18n.t("portalopme.index.who_uses.item_4") %></strong></li>
	</ul>
  </div>
  <div class="span6" style="text-align: center;">
	<img src="/img/portalopme/medical-team.jpg" alt="Medical Team" />
  </div>
</div>

<!--Botão proximo -->
<ul class="pager">
  <li class="next">
	<%= link_to(I18n.t("understanding_the_system.index.title")+ " &rarr;", "understanding_the_system") %>
  </li>
</ul>