<center><h1><%= I18n.t("relatorios.index.title") %></h1></center>
<p class="more-info"><%= I18n.t("general.updated_at", :date => "06/03/2013") %></p>
<h3><%= I18n.t("general.index") %></h3>

<!--Indice -->
<ol class="table-of-contents">
	<li><a href="#produtos_vencidos_inner"><%= I18n.t("relatorios.index.table_of_contents.produtos_vencidos") %></a></li>
	<li><a href="#produtos_vendidos_inner"><%= I18n.t("relatorios.index.table_of_contents.produtos_vendidos") %></a></li>
	<li><a href="#top_compradores_inner"><%= I18n.t("relatorios.index.table_of_contents.top_compradores") %></a></li>
	<li><a href="#top_produtos_inner"><%= I18n.t("relatorios.index.table_of_contents.top_produtos") %></a></li>
</ol>
		
		
<!-- produtos_vencidos  -->
<div id ="produtos_vencidos" > &nbsp </div>
<h2 id="produtos_vencidos_inner"><%= I18n.t("relatorios.index.table_of_contents.produtos_vencidos") %></h2>
<div class="row-fluid">
	<center><img src="/img/relatorios/relatorios_produtos_vencidos.jpg" alt="Produtos Vencidos" /></center>
	<p align="right" style="font-weight:bold;"><%= I18n.t("relatorios.index.produtos_vencidos.item_1") %></p>
	<p> <%= I18n.t("relatorios.index.produtos_vencidos.item_2") %></p>
	<center><img src="/img/relatorios/produtos_vencidos.jpg" alt="Produtos Vencidos" /></center>
	<p align="right" style="font-weight:bold;"><%= I18n.t("relatorios.index.produtos_vencidos.item_3") %></p>
	<p> <%= I18n.t("relatorios.index.produtos_vencidos.item_4") %></p>
</div>

<!-- produtos_vendidos -->
<div id ="produtos_vendidos" > &nbsp </div>
<h2 id="produtos_vendidos_inner"><%= I18n.t("relatorios.index.table_of_contents.produtos_vendidos") %></h2>
<div class="row-fluid">
	<center><img src="/img/relatorios/relatorios_produtos_vendidos.jpg" alt="Produtos Vendidos" /></center>
	<p align="right" style="font-weight:bold;"><%= I18n.t("relatorios.index.produtos_vendidos.item_1") %></p>
	<p> <%= I18n.t("relatorios.index.produtos_vendidos.item_2") %></p>
	<center><img src="/img/relatorios/produtos_vendidos.jpg" alt="Produtos Vendidos" /></center>
	<p align="right" style="font-weight:bold;"><%= I18n.t("relatorios.index.produtos_vendidos.item_3") %></p>
	<p> <%= I18n.t("relatorios.index.produtos_vendidos.item_4") %></p>
</div>


<!-- top_compradores -->
<div id ="top_compradores" > &nbsp </div>
<h2 id="top_compradores_inner"><%= I18n.t("relatorios.index.table_of_contents.top_compradores") %></h2>
<div class="row-fluid">
	<center><img src="/img/relatorios/relatorios_top_compradores.jpg" alt="Top Compradores" /></center>
	<p align="right" style="font-weight:bold;"><%= I18n.t("relatorios.index.top_compradores.item_1") %></p>
	<p> <%= I18n.t("relatorios.index.top_compradores.item_2") %></p>
	<center><img src="/img/relatorios/top_compradores.jpg" alt="Top Compradores" /></center>
	<p align="right" style="font-weight:bold;"><%= I18n.t("relatorios.index.top_compradores.item_3") %></p>
	<p> <%= I18n.t("relatorios.index.top_compradores.item_4") %></p>
</div>


<!-- top_produtos -->
<div id ="top_produtos" > &nbsp </div>
<h2 id="top_produtos_inner"><%= I18n.t("relatorios.index.table_of_contents.top_produtos") %></h2>
<div class="row-fluid">
	<center><img src="/img/relatorios/relatorios_top_produtos.jpg" alt="Top Produtos" /></center>
	<p align="right" style="font-weight:bold;"><%= I18n.t("relatorios.index.top_produtos.item_1") %></p>
	<p> <%= I18n.t("relatorios.index.top_produtos.item_2") %></p>
	<center><img src="/img/relatorios/top_produtos.jpg" alt="Top Produtos" /></center>
	<p align="right" style="font-weight:bold;"><%= I18n.t("relatorios.index.top_produtos.item_3") %></p>
	<p> <%= I18n.t("relatorios.index.top_produtos.item_4") %></p>
</div>



<!--Botão proximo -->
<ul class="pager">
  <li class="previous"><%= link_to("&larr; " + I18n.t("orcamentos.index.title"), "orcamentos") %></li>
  <li class="next"><%= link_to(I18n.t("configuracoes.index.title") + " &rarr;", "configuracoes") %></li>
</ul>