<center><h1><%= I18n.t("relatorios.index.title") %></h1></center>
<p class="more-info"><%= I18n.t("general.updated_at", :date => "15/07/2013") %></p>
<h3><%= I18n.t("general.index") %></h3>



<!--Indice -->
<div class="metro-surface">
   <center>
      <table>
         <tr>
            <td><a href="#produtos_vencidos_inner"><div class="metro-tile "><%= I18n.t("relatorios.index.table_of_contents.produtos_vencidos") %></div></a></td>
            <td><a href="#produtos_vendidos_inner"><div class="metro-tile "><%= I18n.t("relatorios.index.table_of_contents.produtos_vendidos") %></div></a></td>
            <td><a href="#top_compradores_inner"><div class="metro-tile metro-tile-small"><%= I18n.t("relatorios.index.table_of_contents.top_compradores") %></div></a></td>
         </tr>
      </table>
      <table>
         <tr>
            <td><a href="#top_produtos_inner"><div class="metro-tile "><%= I18n.t("relatorios.index.table_of_contents.top_produtos") %></div></a></td>
            <td><a href="#"><div class="metro-tile metro-tile-small"></div></a></td>
            <td><a href="#valores_vencidos_inner"><div class="metro-tile "><%= I18n.t("relatorios.index.table_of_contents.valores_vencidos") %></div></a></td>
         </tr>
      </table>
   </center>
</div



<!-- produtos_vencidos  -->
<div id ="produtos_vencidos" > &nbsp </div>
<h2 id="produtos_vencidos_inner"><%= I18n.t("relatorios.index.table_of_contents.produtos_vencidos") %></h2>
<div class="row-fluid">
	<center><img  src="/img/relatorios/relatorios_produtos_vencidos.png" /></center>
	<p align="right" style="font-weight:bold;"><%= I18n.t("relatorios.index.produtos_vencidos.item_1") %></p>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("relatorios.index.produtos_vencidos.item_2") %></p>
	<center><img  src="/img/relatorios/produtos_vencidos.jpg"  /></center>
	<p align="right" style="font-weight:bold;"><%= I18n.t("relatorios.index.produtos_vencidos.item_3") %></p>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("relatorios.index.produtos_vencidos.item_4") %></p>
</div>



<!-- produtos_vendidos  -->
<div id ="produtos_vendidos" > &nbsp </div>
<h2 id="produtos_vendidos_inner"><%= I18n.t("relatorios.index.table_of_contents.produtos_vendidos") %></h2>
<div class="row-fluid">
	<center><img  src="/img/relatorios/relatorios_produtos_vendidos.png" /></center>
	<p align="right" style="font-weight:bold;"><%= I18n.t("relatorios.index.produtos_vendidos.item_1") %></p>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("relatorios.index.produtos_vendidos.item_2") %></p>
	<center><img  src="/img/relatorios/relatorios_produtos_vendidos_resultado.png"  /></center>
	<p align="right" style="font-weight:bold;"><%= I18n.t("relatorios.index.produtos_vendidos.item_3") %></p>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("relatorios.index.produtos_vendidos.item_4") %></p>
</div>



<!-- top_compradores  -->
<div id ="top_compradores" > &nbsp </div>
<h2 id="top_compradores_inner"><%= I18n.t("relatorios.index.table_of_contents.top_compradores") %></h2>
<div class="row-fluid">
	<center><img  src="/img/relatorios/relatorios_top_compradores.png" /></center>
	<p align="right" style="font-weight:bold;"><%= I18n.t("relatorios.index.top_compradores.item_1") %></p>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("relatorios.index.top_compradores.item_2") %></p>
	<center><img  src="/img/relatorios/relatorios_top_compradores_resultado.png"  /></center>
	<p align="right" style="font-weight:bold;"><%= I18n.t("relatorios.index.top_compradores.item_3") %></p>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("relatorios.index.top_compradores.item_4") %></p>
</div>



<!-- top_produtos  -->
<div id ="top_produtos" > &nbsp </div>
<h2 id="top_produtos_inner"><%= I18n.t("relatorios.index.table_of_contents.top_produtos") %></h2>
<div class="row-fluid">
	<center><img  src="/img/relatorios/relatorios_top_produtos.png" /></center>
	<p align="right" style="font-weight:bold;"><%= I18n.t("relatorios.index.top_produtos.item_1") %></p>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("relatorios.index.top_produtos.item_2") %></p>
	<center><img  src="/img/relatorios/relatorios_top_produtos_resultado.png"  /></center>
	<p align="right" style="font-weight:bold;"><%= I18n.t("relatorios.index.top_produtos.item_3") %></p>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("relatorios.index.top_produtos.item_4") %></p>
</div>



<!-- valores_vencidos  -->
<div id ="valores_vencidos" > &nbsp </div>
<h2 id="valores_vencidos_inner"><%= I18n.t("relatorios.index.table_of_contents.valores_vencidos") %></h2>
<div class="row-fluid">
	<center><img  src="/img/relatorios/relatorios_valores_vencidos.png" /></center>
	<p align="right" style="font-weight:bold;"><%= I18n.t("relatorios.index.valores_vencidos.item_1") %></p>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("relatorios.index.valores_vencidos.item_2") %></p>
	<center><img  src="/img/relatorios/relatorios_valores_vencidos_resultado.png"  /></center>
	<p align="right" style="font-weight:bold;"><%= I18n.t("relatorios.index.valores_vencidos.item_3") %></p>
	<p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("relatorios.index.valores_vencidos.item_4") %></p>
</div>


<p class="note" style="text-indent: 3em; text-align: justify;"><%= I18n.t("relatorios.index.produtos_vencidos.item_5") %></p>


<!--Botão proximo -->
<ul class="pager">
  <li class="previous"><%= link_to("&larr; " + I18n.t("orcamentos.index.title"), "orcamentos") %></li>
  <li class="next"><%= link_to(I18n.t("configuracoes.index.title") + " &rarr;", "configuracoes") %></li>
</ul>